SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback
SPOTIFY_SCOPES=user-library-read playlist-modify-private playlist-read-private playlist-read-collaborative
